{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        form {
            width: fit-content;
        }
        .subdomain-text {
            fill: black;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <p class="lead">Holidays calendar of swiss cantons.</p>
        <p>
            You can select a specific year.
            You can also filter the calendar by cantons in the list.
            Finally, you can select a date in the calendar to see the cantons which are on holidays for the given date.
        </p>
        <div id="cal-heatmap"></div>
        <div>
            <nav aria-label="navigation">
                <ul class="pagination pagination-lg">
                    <li class="page-item" onclick="previousYear()">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item disabled"><a class="page-link" href="#" id="year">{{ 'now'|date('Y') }}</a></li>
                    <li class="page-item" onclick="nextYear()">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        {{ form(form) }}
        <div>
            <a href="https://www.edk.ch">edk.ch</a>
            <a href="https://github.com/maidmaid/ch-holidays">Github</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var $options = $('select option');
        const cal = new CalHeatmap();
        cal.paint({
            domain: {type: 'month', gutter: 10, dynamicDimension: false},
            subDomain: {
              type: 'day',
              label: 'D',
              width: 20,
              height: 20,
              radius: 2,
            },
            data: {
              source: "{{ path('data') }}?year={{ '{{start=YYYY}}' }}",
              x: 'date',
              y: 'count',
              defaultValue: 0,
            },
            date: {
              start: new Date('2024-01-01'),
              highlight: [
                new Date(),
              ],
              locale: { weekStart: 1 },
            },
            scale: {
              color: {
                scheme: 'Reds',
                domain: [1, 10, 20, 30],
                type: 'threshold',
              },
            },
          },
          [
            [
              Tooltip,
              {
                text: function (timestamp, value, dayjsDate) {
                  return `${value} canton(s)`;
                },
              },
            ],
            [Legend, {}]
          ],
        );
        cal.on('click', (event, timestamp, value) => {
            $.post('/cantons/' + timestamp / 1000, highlightCantons);
        });
        $('form').change(function() {
            resetCantons();
            $.post('{{ path('data') }}', $('form').serialize(), function (data) {
                cal.fill(data);
            })
        });
        function highlightCantons(cantons) {
            resetCantons();
            $options
                .filter(function(i, e) { return !cantons.includes($(e).val())})
                .css({'opacity': 0.1})
            ;
        }
        function resetCantons() {
            $options.css({'opacity': 1});
        }
        function previousYear() {
            cal.previous(12)
            $('#year').get(0).text--;
            resetCantons();
        }
        function nextYear() {
            cal.next(12);
            $('#year').get(0).text++;
            resetCantons();
        }
    </script>
{% endblock %}
