{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        form {
            width: fit-content;
        }
        .subdomain-text {
            fill: black;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div id="cal-heatmap"></div>
        <div>
            <nav aria-label="navigation">
                <ul class="pagination pagination-lg">
                    <li class="page-item" onclick="previousYear()">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item disabled"><a class="page-link" href="#" id="year">{{ 'now'|date('Y') }}</a></li>
                    <li class="page-item" onclick="nextYear()">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        {{ form(form) }}
        <div>
            <a href="https://www.edk.ch/dyn/11707.php" class="float-start">source</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var $options = $('select option');
        var cal = new CalHeatMap();
        cal.init({
            domain: "month",
            subDomain: "day",
            data: "{{ path('data') }}",
            start: new Date({{ 'now'|date('Y') }}, 0),
            subDomainTextFormat: "%d",
            range: 12,
            cellSize: 20,
            cellRadius: 2,
            cellPadding: 2,
            domainMargin: 10,
            displayLegend: false,
            onClick: function(date, nb) {
                var timestamp = '@' + date.getTime() / 1000;
                $.post('/cantons/' + timestamp, highlightCantons);
            }
        });
        $('form').change(function() {
            resetCantons();
            $.post('{{ path('data') }}', $('form').serialize(), function (data) {
                cal.update(data);
            })
        });
        function highlightCantons(cantons) {
            resetCantons();
            $options
                .filter(function(i, e) { return !cantons.includes($(e).text())})
                .css({'opacity': 0.1})
            ;
        }
        function resetCantons() {
            $options.css({'opacity': 1});
        }
        function previousYear() {
            cal.previous(12)
            $('#year').get(0).text--;
        }
        function nextYear() {
            cal.next(12);
            $('#year').get(0).text++;
        }
    </script>
{% endblock %}
